.idea
build
build_debug
build_release
.clangd
.clang-format
.cache
CMakeUserPresets.json
# note that in the context of clang_formatting we cannot include .gitignore because then it wouldn't keep track of it.
